/*!***********************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js!../../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!../../node_modules/less-loader/dist/cjs.js!./src/css/basic.less ***!
  \***********************************************************************************************************************************************************************************************/
.container {
  padding:5rem 2.5rem;
}
.container h2{
  color: #25a2c3;
}
#alert-msg{
  margin: 1em auto;
  text-align: center;
}
#add-member {
  margin: 0;
  background-color: #8bd9d1bd;
}
#add-member h3 {
  font-weight: 600;
}
#add-member .form-row {
  padding: 1em;
  margin: 0;
}
#add-member .form-row button {
  width: 50%;
}
#add-member .form-row input,
#add-member .form-row select {
  /* background-color: white; */
}
#add-member .form-row input,
#add-member .form-row select,
#add-member .form-row button {
  height: 2.75em;
  font-size: 16px;
  font-weight: 600;
}
#account-list {
  margin-bottom: 9em;
}
#account-list h3 {
  background-color: #8bd9d1bd;
  margin: 0;
  font-weight: 600;
}
#account-list .table thead {
  background-color: #8bd9d17b;
}
#account-list .table thead tr th,
#account-list .table tbody tr td {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: black;
}
#account-list .table tbody tr i[class="fas fa-user"] {
  color: #24D354;
}
#account-list .table tbody tr i[class*="no-use"] {
  color: gray;
}
#account-list .table tbody tr td:last-child a {
  font-size: 16px;
  margin: 0 0.5em;
}
#editModal .modal-title {
  font-weight: 600;
}
#editModal .col-form-label {
  color: black;
}
#editModal .form-group input,
#editModal .form-group select,
#editModal .form-group button {
  height: 2.75em;
  font-size: 16px;
}
#editModal button{
  width: 40%;
  font-weight: 600;
}